html, body, main {
    height: 100%;
}

/* Make stuff 100% */
.expand {
    height: 100%;
}

.row-first {
    height: 10%;
}

.row-second {
    height: 60%;
    overflow: hidden
}

#graph-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.row-third {
    background-color: darkgrey;
    height: 30%;
}

#add {
    float: right;
    margin-right: 10px;
}

h3 {
    padding: 5px;
}

#graph {
    width: 100%;
}

table {
    margin: 10px;
}

td:first-child {
    padding-right: 5px;
    font-weight: bold;
}

td:first-child + td {
    padding-right: 10px;
}

td:first-child + td + td {
    padding-right: 5px;
    font-weight: bold;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}