canvas {
	margin-top: 40px;
	width: 100%;
	height: 200px;
}

#main {
	margin-top: 40px;
}

.expand {
	width: 100%;
}

.header {
	margin-bottom: 10px;
}

#portErr {
	margin-bottom: 0;
	margin-top: 5px;
}

#stockForm {
	margin-left: 10px;
}

#noPort {
	text-align: center;
}

.portName {
	margin-right: auto;
}

.editPort, .deletePort {
	margin: 0 5px;
}

.actionButton {
	padding: 5px;
}

.buttonBar {
	margin: 5px 0;
}

#newPool {
	width: 100px;
}

.newPool > label {
	margin-right: 5px;
	margin-bottom: 0;
}

.leaderPic {
	margin-right: 10px;
	border: 1px solid black;
}

#graphContainer {
	display: inline-block;
	height: 30vh;
	width: 100%;
}

.chart-container {
	height: calc(30vh - 2.85rem - 5px);
}