#gains {
	margin-top: 40px;
}

#main {
	margin-top: 40px;
}

.expand {
	width: 100%;
}

.header {
	margin-bottom: 10px;
}

#portErr {
	margin-bottom: 0;
	margin-top: 5px;
}

form {
	margin-left: 10px;
}