html, body {
    height: 95%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 60px; /* .push must be the same height as .footer */
}

#searchBox {
	width: 300px;
}

#user, #login {
	margin-left: 10px;
}

.autoDropdown {
  position: absolute;
  z-index: 2;
  width: 100%;
  border: 1px solid lightgrey;
  list-style: none;
  margin: 0;
  padding: 0;
}

.autoDropdown > li{
  background-color: white;

  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

#content {
  margin-bottom: 100px;
}

#searchButton {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
    margin-top: 1px;
    margin-bottom: 1px;  
}

#navProfPic {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  padding-left: 0px;
  border: 1px solid black;
}

/* Colors for % change */
.down {
  color: red;
}

.up {
  color: green;
}