#stocks {
    margin: 20px auto;
    max-width: 960px;
}

#stocks h1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 0;
    color: #212121;
    margin-bottom: 1rem;
    text-align: center;
}
#stocks h2 {
    font-size: 1.5rem;
    line-height: 2.8rem;
    letter-spacing: 0.01rem;
    font-weight: 400;
    color: #212121;
}

.grid {
    background: #EEE;
    max-width: 1200px;
    padding: 0.25rem;
}

.grid-item {
    width: 20%;
    padding: 0.25rem;
}